{% if S_REGISTERED_USER %}
	<li data-last-responsive="true">
		<a href="{{ U_GROUPSPP_SELECT }}" title="{{ lang('SELECT_GROUPS') }}" role="menuitem">
			<i class="icon fa-users fa-fw" aria-hidden="true"></i><span>{{ lang('SELECT_GROUPS') }}</span>
		</a>
	</li>

	<!--<li data-last-responsive="true">
		<a href="{{ U_GROUPSPP_VIEW }}" title="{{ lang('VIEW_GROUPS') }}" role="menuitem">
			<i class="icon fa-comments fa-fw" aria-hidden="true"></i><span>{{ lang('VIEW_GROUPS') }}</span>
		</a>
	</li>-->
{% endif %}
