{% include 'overall_header.html' %}

<h1>{{ lang('ACP_GROUPSPP_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt><label for="new_name">{{ lang('NEW_NAME') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" id="new_name" name="new_name" size="40" value="{{ NEW_NAME }}" /></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="submit" value="{{ lang('ADD') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}
